<!-- compouding frequency-->
<div class="input-group">

  <span class="input-group-addon">Compounding frequency</span>
  <input id="compounding-frequency-input" type="text" class="form-control" placeholder="Enter numeric value">
  <select id="compounding-frequency-select" class="form-control">
    <option value="days">days</option>
    <option value="weeks">weeks</option>
    <option value="months">months</option>
    <option value="years">years</option>
  </select>
</div>
<br/>