<!-- deposit value -->
<div class="input-group">
  <span class="input-group-addon">Deposit value:</span>
  <input id="deposit-value-input" type="text" class="form-control" placeholder="How much money you want to deposit">
  <span class="input-group-addon">PLN</span>
</div>
<br/>