<!-- interest rate -->
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon2">Interest Rate</span>
    <input id="interest-rate-input" type="text" class="form-control" placeholder="Annual rate of interest" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="basic-addon2">%</span>
  </div>
  <br/>