<!-- show two datapickers side by side -->


<div class="container">
  <div class="row">
    <div class="col-sm-offset-5 col-sm-2 text-center">
      <div class="btn-group" data-toggle="buttons">
        <button class="btn btn-primary" onclick="updateChart()">Show in selected date range</button>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">

    <!-- first picker -->
    <div class='col-sm-6'>
      <div class="form-group">
        <div class='input-group date' id='range-start-picker'>
          <input id='range-start-picker-input' type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
      </div>
    </div>

    <!-- second picker -->
    <div class='col-sm-6'>
      <div class="form-group">
        <div class='input-group date' id='range-end-picker'>
          <input id='range-end-picker-input' type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
      </div>
    </div>
    <hr/>

    <script type="text/javascript">
      loadDatePickers('range-pickers');
    </script>

  </div>
</div>