<!-- show two datapickers side by side -->


<div class="container">
  <hr/>

  <div class="row">
    <div class="col-sm-offset-5 col-sm-2 text-center">
      <div class="btn-group" data-toggle="buttons">
        <button class="btn btn-primary" onclick="updateChart()">Show in selected date range</button>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">

    <!-- first picker -->
    <div class='col-sm-6'>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker1'>
          <input id='datetimepicker1-input' type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
      </div>
    </div>

    <!-- second picker -->
    <div class='col-sm-6'>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker2'>
          <input id='datetimepicker2-input' type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
      </div>
    </div>
    <hr/>

    <script type="text/javascript">
      //load both datepickers
      jQuery.noConflict();
      jQuery(document).ready(function($) {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
      });
    </script>

  </div>
</div>