<!-- navigation bar -->

<div class="navbar navbar-inverse">
  <div class="container">
    <!-- Header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://github.com/micmarty">
        Michał Martyniak - GitHub Account
      </a>
    </div>
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        get '/comparator/index' => 'comparator#index', as: 'compare'
        <li class="active"><%= link_to "Company ratings", root_path %></li>
        <li><%= link_to "Bank deposit vs. fund investment", compare_path %></li>
      </ul>
    </div>
  </div>
</div>